<header-app></header-app>
<menu-app></menu-app>
<section id="main-content" class=" ">
    <section class="wrapper main-wrapper row" style=''>
        <div class='col-xs-12'>
            <div class="page-title">
                <div class="pull-left">
                    <h1 class="title">Master Fee Categories</h1><!-- PAGE HEADING TAG - END -->
                </div>
                <div class="pull-right hidden-xs">
                    <ol class="breadcrumb">
                        <li>
                            <a routerLink="/home" routerLinkActive="active"><i class="fa fa-home"></i>Home</a>
                        </li>
                        <li>
                            <a routerLink="/feeList/0" routerLinkActive="active">Finance</a>
                        </li>
                        <li class="active">
                            <strong>All Fees</strong>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- MAIN CONTENT AREA STARTS -->
        <div class="col-xs-12">
            <section class="box ">
                <header class="panel_header">
                    
                    <div class="actions panel_actions pull-right">
                        <a class="box_toggle fa fa-chevron-down"></a>
                        <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                        <a class="box_close fa fa-times"></a>
                    </div>
                </header>
                <div class="content-body">
                    <div class="row">
                        <form #pageForm="ngForm">                            
                            <div class="col-xs-12">
                            <div class="table-responsive">
                    		<table *ngIf="discounts" id="discounts" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Discount Name</th>
                                    <th>Category</th>
                                    <th>Fee</th>
                                    <th>Discount Mode</th>
                                    <th>Percentage/Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="discounts=='' ">
                                <tr><td colspan="7" style="text-align: center;">No records found</td></tr>
                            </tbody>
                            <tbody>
                                <tr *ngFor="let discount of discounts, let i=index">
                                    <th scope="row">{{i+1}}</th>
                                    <td><a (click)="redirectToDiscountView(discount.discountId)">{{discount.discountName}}</a></td>
                                    <td>{{discount.discountCategoryName}}</td>
                                    <td>{{discount.feeName}}</td>
                                    <td>{{discount.discountMode}}</td>
                                    <td style="text-align: right;" *ngIf="discount.discountMode=='Percentage'">{{discount.percentage}}%</td>
                                    <td style="text-align: right;" *ngIf="discount.discountMode=='Amount'">{{discount.amount| currency:'INR':true}}</td>
                                    <td><a (click)="deleteDiscount(discount.discountId)">Delete</a></td>
                                </tr>
                            </tbody>
                            </table>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </section>
        </div>
    </section>
</section>