
<div class="container">
	
	<h1>Fee View</h1>
    <a (click)="backToFeeList()">Back To Fee Categories</a>

		<table width="100%">
            <tr>
                <td width="10%">
                    <b>Fee:</b>
                </td>
                <td widht="30%">
                    {{feeCategory.feeName}}
                </td>
                <td width="35%" style="text-align:right;">
                    <b>Period:&nbsp;</b>
                </td>
                <td widht="30%" style="text-align:left;">
                    {{feeCategory.startDate| date:'MMM yyyy'}} - {{feeCategory.endDate| date:'MMM yyyy'}}
                </td>
            </tr>
            <tr>
                <td widht="10%">
                    <b>Batch:</b>
                </td>
                <td width="30%">
                    {{feeParticulars[0].batchName}}
                </td>
                <td width="45%" style="text-align:right;">
                    <b>Frequency:&nbsp;</b>
                </td>
                <td widht="20%" style="text-align:left;">
                    {{paymentFrequency.description}}
                </td>
            </tr>
            <tr>
                <td widht="10%">
                    <b>Due Date:</b>
                </td>
                <td width="28   %">
                    {{feeCategory.dueDate}} of the month
                </td>
                <td width="45%" style="text-align:right;">&nbsp;
                </td>
                <td widht="20%" style="text-align:left;">&nbsp;
                </td>
            </tr>
        </table>
        <table *ngIf="feeParticulars" id="feeParticulars" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th colspan="4" style="text-align: center;">Fee Details</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Fee Particular</th>
                <th style="text-align: right;">Unit Price</th>
                <th style="text-align: right;">Amount</th>
            </tr>
        </thead>
        <tfoot>
        </tfoot>
        <tbody>
            <tr *ngFor="let feeParticular of feeParticulars, let i=index">
                <td>{{i+1}}</td>
                <td>{{feeParticular.name}}</td>
                <td style="text-align: right;">{{feeParticular.amount}}</td>
                <td style="text-align: right;" *ngIf="feeParticular.inputAs=='PaymentPeriod.MONTH'">{{feeParticular.amount * paymentFrequency.numberOfMonths}}</td>
                <td style="text-align: right;" *ngIf="feeParticular.inputAs!='PaymentPeriod.MONTH'">{{feeParticular.amount}}</td>
            </tr>
            <tr>
                <th colspan="3" style="text-align: right;">Total Payable</th>
                <th style="text-align: right;">{{getTotal()|currency:'INR':true}}</th>
            </tr>
        </tbody>
        
        <thead>
            <tr>
                <th colspan="4" style="text-align: center;">Applicable Discounts</th>
            </tr>
            
            <tr>
                <th>#</th>
                <th>Discount</th>
                <th>Category</th>
                <th style="text-align: right;">Amount/Percentage</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let discount of discounts, let i=index">
                <td>{{i+1}}</td>
                <td>{{discount.discountName}}</td>
                <td>{{discount.discountCategoryName}}</td>
                <td style="text-align: right;" *ngIf="discount.discountMode=='Amount'">{{discount.amount|currency:'INR':true}}</td>
                <td style="text-align: right;" *ngIf="discount.discountMode=='Percentage'">{{discount.percentage}}%</td>
            </tr>
        </tbody>
    </table>
</div>
