
<div class="container">
    <h1>Configure Fine</h1>
    
    <form (ngSubmit)="onSubmit()" #fineForm="ngForm">
        <div class="form-group">
            <label for="fine">Fine</label>
            <select class="form-control" id="fineId" [(ngModel)]="model.fineId" name="fineId" action="ngModel" (change)="getFineById()">
                <option [value]="0">Create Fine</option>
                <option *ngFor="let fine of fines" [value]="fine.fineId">{{fine.fineName}}</option>
            </select>
        </div>

        <div class="form-group">
            <label for="fineName">Fine name</label>
            <input type="text" class="form-control" id="fineName" [(ngModel)]="model.fineName" name="fineName" #fineName="ngModel">
        </div>
        <hr>
        <div *ngFor="let fineSlab of model.fineSlabs, let i=index">
            <div class="form-group">
            <label for="delayDays">Days after due date</label>
            <input type="text" pattern="[0-9]+" maxlength="10" class="form-control" id="delayDays{{i}}" [(ngModel)]="model.fineSlabs[i].delayDays" name="delayDays{{i}}">
            </div>
        <div class="form-group">
            <label for="amount">Fine Value</label>
            <input type="text" pattern="[0-9]+" maxlength="10" class="form-control" required id="fineValue{{i}}" [(ngModel)]="model.fineSlabs[i].fineValue" name="fineValue{{i}}">
            
        </div>
        <div class="form-group">
            <label for="mode">Mode</label><br>
            <input class="form-check-input" type="radio" id="fineMode{{i}}" name="fineMode{{i}}" value="Amount" [(ngModel)]="model.fineSlabs[i].fineMode">Amount &nbsp;&nbsp;
            <input class="form-check-input" type="radio" id="fineMode{{i}}" name="fineMode{{i}}" value="Percentage" [(ngModel)]="model.fineSlabs[i].fineMode">Percentage
        </div>
        <hr>
        </div>
        <a (click)="addSlab()">Add more slab</a>&nbsp;&nbsp;
        <button type="submit" class="btn btn-success" [disabled]="!fineForm.form.valid">Save</button>
    </form>
</div>