<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Education Info</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
        <div class="row">
        <form action ="#" method="post">
            <div class="col-xs-12 col-sm-3 col-md-8">
                <div class="table-responsive">
                <table *ngIf="educations.length>0" id="educations" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Course</th>
                        <th>Institution/University</th>
                        <th>Score/Grade</th>
                        <th>Passing Year</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let education of educations, let i=index">
                        <td><a (click)="viewEducationInfo(i)">{{education.course}}</a></td>
                        <td>{{education.institution}}</td>
                        <td>{{education.grade}}</td>
                        <td>{{education.passingYear}}</td>
                    </tr>
                </tbody>
                </table>
                </div>

                <div class="form-group">
                    <label class="form-label">Course Name</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text"  name="course" id="course" class="form-control" [(ngModel)]="model.course" #course="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Institution Name</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="institution" id="institution" class="form-control" [(ngModel)]="model.institution" #institution="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">University</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="university" id="university" class="form-control" [(ngModel)]="model.university" #university="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Passing Grade</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="grade" id="grade" class="form-control" [(ngModel)]="model.grade" #grade="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Passing Score</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="score" id="score" class="form-control" [(ngModel)]="model.score" #score="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Passing Year</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="passingYear" id="passingYear" class="form-control" [(ngModel)]="model.passingYear" #passingYear="ngModel">
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-label" >Upload Certificate</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="file" class="form-control" >
                    </div>
                </div>
            
                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                    <div class="text-left">
                        <button type="button" class="btn btn-primary" (click)="addMore()">Add More</button>
                        <button type="button" class="btn btn-primary" (click)="saveEducationDetails()">Save</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
    </section>
</div>