<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Parents/Guardians Info</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
        <div class="row">
        <form action ="#" method="post">
            <div class="col-xs-12 col-sm-3 col-md-8">
                <div class="table-responsive">
                <table *ngIf="parents.length>0" id="parents" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Relation</th>
                        <th>Full Name</th>
                        <th>Mobile</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let parent of parents">
                        <td>{{parent.relationship}}</td>
                        <td>{{parent.firstName}}&nbsp;{{parent.lastName}}</td>
                        <td>{{parent.mobile}}</td>
                        <td>{{parent.email}}</td>
                    </tr>
                </tbody>
                </table>
                </div>

                <div class="form-group">
                    <label class="form-label">Relationship With Student</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <select class="form-control" id="relationship" [(ngModel)]="model.relationship" name="relationship" #relationship="ngModel">
                        <option value="0">Select Relation</option>
                        <option *ngFor="let relation of relationships" [value]="relation.code">{{relation.name}}</option>
                    </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">First Name</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text"  name="firstName" id="firstName" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Last Name</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="lastName" id="lastName" class="form-control" [(ngModel)]="model.lastName" #lastName="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Education Qualification</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="qualification" id="qualification" class="form-control" [(ngModel)]="model.qualification" #qualification="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Phone</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="phone" id="phone" class="form-control" [(ngModel)]="model.phone" #phone="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Mobile</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="mobile" id="mobile" class="form-control" [(ngModel)]="model.mobile" #mobile="ngModel">
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Email</label>
                    <span class="desc"></span>
                    <div class="controls">
                        <input type="text" name="email" id="email" class="form-control" [(ngModel)]="model.email" #email="ngModel">
                    </div>
                </div>
            
                <div class="col-xs-12 col-sm-9 col-md-8 padding-bottom-30">
                    <div class="text-left">
                        <button type="button" class="btn btn-primary" (click)="addMore()">Add More</button>
                        <button type="button" class="btn btn-primary">Save</button>
                        <button type="button" class="btn">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        </div>
        </div>
    </section>
</div>