<div class="container">
<form (ngSubmit)="onSubmitGet()" #userForm="ngForm">
		
		<br>
		
		<input name="action" [(ngModel)]="action.method" (click)=getRoutes() type="radio" value="View" /> View
		<input name="action" [(ngModel)]="action.method" type="radio" value="Create" /> Create
		
	</form>
</div>


<div class="container" *ngIf="action.method == 'View'">
	<label for="routeName">Select Route</label>
	<select class="form-control" id="count" [(ngModel)]="count" name="count" (ngModelChange)="onSelectRoute()" routeId="ngModel">
		<option *ngFor="let transport of transports; index as i;" [value]="i">{{transport.routeName}}</option>
	</select>
</div>


<div class="container" *ngIf="action.method == 'Create' || action.submethod == 'Edit'">
		

	<div >
		<label for="routeName" >Route Name</label>
		<input #routeName type="text" size=20 class="form-control"  id="routeName"  name="routeName" [(ngModel)]="transport.routeName" #routeName="ngModel">
	</div>
	<label for="stopName" >Stop Name</label>
	<input #stopName type="text" size=20 class="form-control"  id="stopName"  name="stopName" [(ngModel)]="formModel.stopName" #stopName="ngModel">
	

	
	<label for="stopCost" >Please enter Fee for this Transport route... (Leave Blank if its per stop)</label>
	<input #stopCost type="text" size=20 class="form-control"  id="stopCost" name="stopCost" [(ngModel)]="formModel.stopCost" #stopCost="ngModel">
	
	

	<button (click)="addRoute(stopName.value, stopCost.value)" *ngIf = "action.submethod != 'Edit'">Add Stop</button>
	<button (click)="editRoute(stopName.value, stopCost.value)" *ngIf = "action.submethod == 'Edit'">Edit Stop</button>
</div>

	<br><br>

<div class="container" *ngIf="count > 1 || action.method == 'View'">
	<table>
		<b>
			<tr><td>Route Name : {{transport.routeName}} </td></tr>
			<tr>
			
				<td>S. No.</td>
				<td>Stop Name</td>
				<td>Cost for this Stop</td>
				<td>is Stop Active?</td>
			</tr>
		</b>
		<tr *ngFor="let route of routes">
			<td>{{route.stopNumber}}</td>
			<td>{{route.stopName}}</td>
			<td>{{route.stopCost}}</td>
			<td>{{route.obsolete}}</td>
			<td><button (click)="actionEdit(route.stopNumber,route.stopName,route.stopCost)">Edit</button></td>
		</tr>
		
	  </table>

	  <form (ngSubmit)="onSubmit()" #userForm="ngForm">
			<button type="submit" class="btn btn-success" >Commit Route</button>		
	  </form>
	  
</div>


